# Bubble Sort

In [1]:
import random

arr1 = [random.randint(0, 100) for i in range(10)]

# for i in range(10):
#     return random.randint(0, 100)

for _ in range(len(arr1)):
    for j in range(len(arr1)-1):
        if arr1[j] > arr1[j+1]:
            arr1[j], arr1[j+1] = arr1[j+1], arr1[j]
print(arr1)

[27, 32, 33, 34, 44, 50, 56, 56, 67, 93]

# Functions

## Scoping

In [2]:
name = "Derek"

def printName():
    print(name)
    
printName()

Derek

In [3]:
def printName():
    name = "Derek"
    return name

print(name)

Derek

# Lists

In [53]:
food_list.count("Jerk Chicken")

1

In [63]:
food_list.reverse()
food_list

['Jerk Chicken', 'French Fries', 'Pizza', 'Starfruit']

In [65]:
food_list.sort()
food_list

['French Fries', 'Jerk Chicken', 'Pizza', 'Starfruit']

## Indexing

In [4]:
arr2 = ["Coding Temple", "Stuff", "More Stuff", 1, 2, 3, {4, 32, 67}, [5, 4, 3, 2, 1], (1,)]

print(arr2[-9], ": indexing the '-9' index")
print(arr2[0], ": indexing the '0' index")

Coding Temple : indexing the '-9' index
Coding Temple : indexing the '0' index

## Adding

### list.extend(sequence)

In [69]:
numbers = [1, 2, 3, 4, 5]
letters = ['a', 'b', 'c', 'd', 'e']

# numbers.extend(letters)

# numbers

In [70]:
numbers + letters

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

### .append(value)

In [34]:
food_list = ["Jerk Chicken", "French Fries", "Pizza", "Water"]
food_list.append("Starfruit")

food_list

['Jerk Chicken', 'French Fries', 'Pizza', 'Water', 'Starfruit']

In [35]:
food_list[3]

'Water'

### .insert(index, value)

In [36]:
food_list.insert(2, "Water")

food_list

['Jerk Chicken', 'French Fries', 'Water', 'Pizza', 'Water', 'Starfruit']

In [38]:
# Remove multiple occurences of 'Water'
while "Water" in food_list:
    food_list.remove("Water")
    
food_list

['Jerk Chicken', 'French Fries', 'Pizza', 'Starfruit']

## Removing

### del

In [30]:
del food_list[0]

food_list

['French Fries', 'Water', 'Pizza', 'Water', 'Starfruit']

### .remove(element)

In [31]:
food_list.remove("Water")

food_list

['French Fries', 'Pizza', 'Water', 'Starfruit']

### .pop()

In [32]:
food_list.pop()

'Starfruit'

In [33]:
food_list

['French Fries', 'Pizza', 'Water']

## List Operations

In [39]:
arr3 = ["Jerk Chicken", "French Fries", "Pizza", "Water"]

### Length - len()

In [44]:
len(arr3)

for i in range(len(arr3)):
    print(arr3[i])

Jerk Chicken
French Fries
Pizza
Water

### Concatenation - adding lists

In [45]:
[1, 2, 3] + ['a', 'b', 'c']

[1, 2, 3, 'a', 'b', 'c']

### Repetition - multiplying lists

In [47]:
['Hi', 'Goodbye'] * 4

['Hi', 'Goodbye', 'Hi', 'Goodbye', 'Hi', 'Goodbye', 'Hi', 'Goodbye']

### Membership - # in [1, 2, 3]

In [49]:
food_list

"Jerk Chicken" in food_list

True

### Iteration - for i in [1, 2, 3]: print(x)

In [50]:
for i in [1, 2, 3]:
    print(i)

1
2
3

## Slices

In [118]:
food_list = ["Eenie", "Meenie", "Minie", "Moe"]

In [119]:
food_list2 = food_list[:]

In [120]:
food_list2.extend(["Stuff", "This", "Is", "More", "Stuff"])

In [121]:
print(food_list)
print(food_list2)

['Eenie', 'Meenie', 'Minie', 'Moe']
['Eenie', 'Meenie', 'Minie', 'Moe', 'Stuff', 'This', 'Is', 'More', 'Stuff']

In [106]:
# food_list2[-1::-3]

['Stuff', 'This', 'Moe', 'Eenie']

In [124]:
# del food_list2[-1::-2]

food_list2[::-3]

['Stuff', 'This', 'Minie']

In [99]:
food_list2[3:5]

['Moe', 'Stuff']

In [126]:
del food_list2[:]

In [128]:
food_list2.append("Water")

In [129]:
food_list2

['Water']

In [142]:
food_list[2] = 1,

food_list

['Eenie', 'Meenie', (1,), 'Moe']

# Tuples

#### A tuple is a sequence of python objects that are immutable (or can not be changed). 
#### The difference between them syntactically (meaning a list) is that the tuple is enclosed in parentheses (). However, you donâ€™t have to always have them enclosed in parentheses. 
#### To that end, the basic structure of a tuple is adding different comma separated values.
#### **Best Practice is to use parentheses**

## Indexing

In [144]:
tup1 = ("One", "Two", "Three", "Four")

tup1[3]

'Four'

## Updating/Adding values

In [156]:
tup2 = ("Five", "Six", "Seven", "Eight")

## Deleting

In [151]:
tup3 = ("Nine", "Ten", "Eleven", "Twelve")
tup3

('Nine', 'Ten', 'Eleven', 'Twelve')

In [152]:
del tup3

In [153]:
tup3 = ("Nine", "Ten", "Eleven")
tup3

('Nine', 'Ten', 'Eleven')

## Tuple Operations

In [159]:
tup4 = ("Thirteen", "Fourteen", "Fifteen", "Sixteen")

### Length

In [155]:
len(tup4)

4

### Concatenation

In [157]:
tup1 + tup2

('One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight')

### Repetition

In [158]:
tup4 * 4

('Thirteen',
 'Fourteen',
 'Fifteen',
 'Sixteen',
 'Thirteen',
 'Fourteen',
 'Fifteen',
 'Sixteen',
 'Thirteen',
 'Fourteen',
 'Fifteen',
 'Sixteen',
 'Thirteen',
 'Fourteen',
 'Fifteen',
 'Sixteen')

### Membership

In [160]:
"Sixteen" in tup4

True

### Interation

In [163]:
for i in tup4:
    print(i)

Thirteen
Fourteen
Fifteen
Sixteen

## Tuple Functions

In [165]:
tuple([1, 2, 3, 4, 5])

(1, 2, 3, 4, 5)

In [166]:
list(tup4)

['Thirteen', 'Fourteen', 'Fifteen', 'Sixteen']

# Strings

## String Functions

### .replace()

In [193]:
string1 = "The World is Yours"
# print(string1.replace("Yo", "O"))

### .split()

In [197]:
string1.split(",")

['The World is Yours']

### input()

In [175]:
response = input("That is your age? ")

That is your age? 1

### .lower()

In [178]:
string1.lower()

'the world is yours'

### .upper()

In [179]:
string1.upper()

'THE WORLD IS YOURS'

### .join()

In [186]:
"-".join(string1)

'T-h-e- -W-o-r-l-d- -i-s- -Y-o-u-r-s'

## Substrings

In [189]:
string1
string1[8:20]

'd is Yours'